<html>
<head>
	<title>Shooting Guys</title>
	<link rel="stylesheet" href="style.css"/>
	<script src="jquery.js"></script>
	<script src="overlaps.js"></script>
	<script src="script.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body class="body">

	<div id="log">Vidas: 5</div>

	<div class="login">
		<p>Insert your nick</p>
		<input type="text" id="player" />
	</div>

	<div class="logout">
		<p>GAME OVER</p>
		<a href="/">Try again</a>
	</div>

	<div id='p1'>o</div>
	
</body>
</html>
